In [2]:
import pandas as pd

In [5]:
df1 = pd.read_csv('WordTuple.txt\part-00000', sep=',', header=None)
df2 = pd.read_csv('WordTuple.txt\part-00001', sep=',', header=None)
df=pd.concat([df1, df2])

In [6]:
df.head()

                 0           1
0        ('python'   71911980)
1  ('data-science'   71911980)
2           ('knn'   71911980)
3        ('python'   71482445)
4       ('pyspark'   71482445)

In [7]:
df.columns = ['Tag','ID']

In [8]:
df.head()

               Tag          ID
0        ('python'   71911980)
1  ('data-science'   71911980)
2           ('knn'   71911980)
3        ('python'   71482445)
4       ('pyspark'   71482445)

In [11]:
df.Tag=df.Tag.apply(lambda x: x[2:-1])

In [13]:
df.ID = df.ID.apply(lambda x:x[:-1])

In [14]:
df.head()

            Tag         ID
0        python   71911980
1  data-science   71911980
2           knn   71911980
3        python   71482445
4       pyspark   71482445

In [15]:
df.to_csv("WordTuple.csv",index=False)